/* Andrea Auñón Antúnez UO277876 */

/* Para el contenedor de los mapas dinamicos */
/*Especificidad: 100*/
#dinamico,
#kml{
	width:60vw; 
	height:50vw;
}

/* Hereda el color de texto de su elemento padre, body*/
/* Especifidad: 001 */
article {
    /*display: flex;*/
    background-color: #b99a87;
    font-size: 1.1em;
    border: 0.15em solid black;
    margin: 1em;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
}