/* Andrea Auñón Antúnez UO277876 */

/*Especificidad: 001*/
input {
    margin: 0.4em 0;
    padding: 0.5em 1.2em;
    border: 0.2em solid black;
    display: block;
    box-sizing: border-box;
}

/*Especificidad: 001*/
label {
    font-size: 1.2em;  
}

/*Especificidad: 001*/
section{
	box-sizing: border-box;
	padding: 1em;
	margin: 1em;
    border: 0.2em solid black;
}

/*Especificidad: 001*/
h3{
    font-size: 1.3em;  
}

/* Hereda el color del fondo de su elemento padre, body */
/*Especificidad: 001*/
li {
    font-size: 1em;
    color: black;
}