/* Andrea Auñón Antúnez UO277876 */

/* ------------- HEADER ------------- */
/* Especifidad: 001 */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Especificidad: 001*/
nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 3em;
    gap: 2em;
}

/*Especificidad: 002*/
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}
